@charset "utf-8";
.topLogBox .w-search .search-btn-w{ background-color:#ff6d37;}
.topLogBox a:hover,.w-languege a.cur{color:#ff6d37;}
.nav_simpline_cur{ background:#ff6d37;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#ff6d37;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{ background:#ff6d37 !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#ff6d37;}
/*--------------------组件-------------------------*/
.btn-default-w{ border-color:#ff6d37; color:#ff6d37;}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{ color:#fff; background-color:#ff6d37; transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s; -o-transition: all 0.2s; }
.w-social .social-item{ background-color:#ccc;}
.w-social .social-item:hover{ background-color:#ff6d37;}
.search-defaut-w .search-btn-w{ background-color:#ff6d37;}
.search-defaut-w .search-btn-w:hover{background-color:#FF994C;}
.color_s_default{ color:#55667D;}
.bg_s_default{ background:#55667D;}
.w-service-fixed .color_s_default:hover{color:#ff6d37;}
.w-service-fixed .bg_s_default:hover{ background:#ff6d37;}
.w-service-fixed .service-popc{background:#ff6d37; }
.w-lantern .lantern_pre,.w-lantern .lantern_next{background-color:#ff6d37;}
.w-lantern .lantern_pre:hover,.w-lantern .lantern_next:hover{background-color:#FF994C;}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#ff6d37;}
.w-slide-page-num .slide-page a.active{ background-color:#ff6d37;}
/*-----------------footer-------------------------*/
.w-footer .w-social .social-item{ background-color:#565656;}
.w-footer .w-social .social-item:hover{ background-color:#ff6d37;}
/*--------------------系统------------------------*/
.systitle{ background:#ff6d37;}
.crumbs a:hover,.w-breadcrumbs a:hover{color:#ff6d37;}
.w-pages a:hover,.w-pages a.cur{}
.info_tab li.cur_tab a{ color:#ff6d37;}
.w-prd-list-cell .w-prd-infobox h2 a:hover,.w-prd-list-cell .w-prd-infobox .w-prd-more a:hover{color:#ff6d37;}
.w-prd-list-cell .w-prd-btns a.btn-buy{ background:#ff6d37; border-color:#ff6d37; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#FF994C; border-color:#FF994C;}
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#666;  color:#333;}
/*-------------新闻--------------------*/
.w-adNews .news-kind,.w-News-list .news-kind{ color:#ff6d37;}
.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#ff6d37;}
.w-adNews .news-h .news-kind:hover,.w-News-list .news-com .news-h .news-kind:hover{color:#009966;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#ff6d37;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#ff6d37; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#ff6d37;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#ff6d37;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#FBE904;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../images/adNews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../images/adNews3next_white.png");}
.w-adNews10 li .news-item .news-com .more a{ background:#FF994C;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#ff6d37;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#ff6d37;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../images/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#ff6d37;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#ff6d37;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#ff6d37;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#FEDDBC;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../images/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main{}
.color_vice{ }
.color_h{}
.color_span{}
.bg_vice_light{ background-color:#ff6d37;}
.colorbg_main{color:#ff6d37;}
.bg_main{background-color:#ff6d37;}
.bg_main_light{background-color:#FFF5EB;}
.bg_simpline{background-color:#ff6d37;}
.border_colorall_main{border-color:#ff6d37;}
.aHoverborder_main:hover{border-color:#ff6d37;}
.border_colorleft_main{border-left-color:#ff6d37;}
.border_colortop_main{border-top-color:#ff6d37;}
.border_colorright_main{border-right-color:#ff6d37;}
.border_colorbottom_main{border-bottom-color:#ff6d37;}
.aHovercolor_main:hover{color:#ff6d37;}
.aHoverbg_main:hover{background-color:#ff6d37;}
.border_colorall_main_deepen{border-color:#FF994C;}
.aHovercolor_deepen:hover{ color:#FF994C;}
.aHoverbg_deepen:hover{ background-color:#FF994C;}
.aHoverborder_deepen:hover{border-color:#FF994C;}
.colorChange{background-color:#ff6d37;
    background-image: -webkit-linear-gradient(bottom, #ff6d37, #FF994C);
	background-image: -moz-linear-gradient(bottom, #ff6d37, #FF994C);
	background-image: -o-linear-gradient(bottom, #ff6d37, #FF994C);
	background-image: -ms-linear-gradient(bottom, #ff6d37,#FF994C);
	background-image: linear-gradient(to top, #ff6d37, #FF994C);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FF994C, endColorStr=#ff6d37);}
.colorChange_deepen{background-color:#ff6d37;
    background-image: -webkit-linear-gradient(bottom, #FF994C,#ff6d37);
	background-image: -moz-linear-gradient(bottom, #FF994C, #ff6d37);
	background-image: -o-linear-gradient(bottom, #FF994C, #ff6d37);
	background-image: -ms-linear-gradient(bottom, #FF994C, #ff6d37);
	background-image: linear-gradient(to top, #FF994C, #ff6d37);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff6d37, endColorStr=#FF994C);}
.bg_main_change{background-color:#ff6d37;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #ff6d37);
	background-image: -moz-linear-gradient(bottom, #ffffff, #ff6d37);
	background-image: -o-linear-gradient(bottom, #ffffff, #ff6d37);
	background-image: -ms-linear-gradient(bottom, #ffffff,#ff6d37);
	background-image: linear-gradient(to top, #ffffff, #ff6d37);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff6d37, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#ff6d37;
    background-image: -webkit-linear-gradient(bottom, #ff6d37, #ffffff);
	background-image: -moz-linear-gradient(bottom, #ff6d37, #ffffff);
	background-image: -o-linear-gradient(bottom, #ff6d37, #ffffff);
	background-image: -ms-linear-gradient(bottom, #ff6d37,#ffffff);
	background-image: linear-gradient(to top, #ff6d37, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#ff6d37);}
.bg_main_change_left{background-color:#ff6d37;
    background-image: -webkit-linear-gradient(right, #ffffff, #ff6d37);
	background-image: -moz-linear-gradient(right, #ffffff, #ff6d37);
	background-image: -o-linear-gradient(right, #ffffff, #ff6d37);
	background-image: -ms-linear-gradient(right, #ffffff,#ff6d37);
	background-image: linear-gradient(to left, #ffffff, #ff6d37);}
.bg_main_changeDeepen_left{background-color:#ff6d37;
    background-image: -webkit-linear-gradient(right, #ff6d37, #ffffff);
	background-image: -moz-linear-gradient(right, #ff6d37, #ffffff);
	background-image: -o-linear-gradient(right, #ff6d37, #ffffff);
	background-image: -ms-linear-gradient(right, #ff6d37,#ffffff);
	background-image: linear-gradient(to left, #ff6d37, #ffffff);}
.w-title2{ background:#ff6d37;}
.w-title2,.w-title2 .title-h-in h2,.w-title2 .more{color:#fff;}
.w-title2 .more:hover{ color:#FBE904;}
.w-title16 .title-h-in > span{ color:#ff6d37;}
.w-title17 .title-text-in{ background:#ff6d37;}
.w-title17 .w-title-inner{background-image:url("../images/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../images/tit17_moreHover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../images/icon_more_0.png");}
.w-title34 .tith .line{ background:#161616;}
@media (min-width:768px){
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ background-image:url(../images/menu0.png); color:#ff6d37;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent .fa{ color:#ff6d37;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa,.w-com-menu-V .ul-submenu li.cur >.div-parent a,.w-com-menu .ul-submenu li.cur >.div-parent .fa{ color:#ff6d37;}
	.w-com-menu-H .menu_simpline_cur{ background:#ff6d37;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ }
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#ff6d37; }
}
@media (min-width:961px){
	.w-nav .submenu{ background:#ff6d37; }
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ background:#FF994C; color:#fff;}
}
@media (max-width:960px){
	.w-admin-header,.body-login .w-admin-header,.w-header{color:#333;}
	.topLogBox a:hover,.w-languege a.cur{color:#ff6d37;}
}
@media (max-width:767px){
	.w-com-menu{ border-bottom:2px solid #ff6d37;}
	.w-com-menu .ul-parent{background-color:#f0f0f0;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#212121; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#ff6d37; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{color:#fff; text-align:center;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../images/routelinecurTel.png');}
}